<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>
    <th:block th:if="${petDto['new']}">New </th:block>
    Pet
</h2>

<form th:object="${petDto}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="*{id}" />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div class="form-group has-feedback">
        <div class="form-group">
            <label class="col-sm-2 control-label">Owner</label>
            <div class="col-sm-10">
                <span th:text="${petDto.owner?.fullName}" />
            </div>
        </div>
        <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
        <input th:replace="~{fragments/inputField :: input ('Birth Date', 'birthDate', 'date')}" />
        <input th:replace="~{fragments/selectField :: select ('Type', 'petType', ${types})}" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${petDto['new']} ? 'Add Pet' : 'Update Pet'"
                    class="btn btn-default" type="submit" th:text="${text}">Add Pet</button>
        </div>
    </div>
</form>

</body>

</html>