<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Owner</h2>
<form th:object="${ownerDto}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('City', 'contactDetails.city', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Street', 'contactDetails.street', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Building', 'contactDetails.building', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('Phone', 'contactDetails.phone', 'text')}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button th:with="text=${ownerDto['new']} ? 'Add Owner' : 'Update Owner'" class="btn btn-default" type="submit" th:text="${text}">
                Add Owner
            </button>
        </div>
    </div>
</form>
</body>
</html>