<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

    <h2>Find Owners</h2>

    <form th:object="${ownerFilter}" th:action="@{/owners}" method="get" class="form-horizontal" id="search-owner-form">
        <div class="form-group">
            <div class="control-group" id="lastNameGroup">
                <label class="col-sm-2 control-label">Full name </label>
                <div class="col-sm-10">
                    <input class="form-control" th:field="*{term}" size="30" maxlength="80"/>
                    <span class="help-inline">
                <div th:if="${#fields.hasAnyErrors()}">
                  <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
                </div>
              </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Find Owner</button>
            </div>
        </div>

    </form>

<br/>

<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-default" th:href="@{/owners/new}">Add Owner</a>

</body>
</html>