<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

    <h1 th:text="#{list_of_owners_title}">Index page</h1>

    <table class="table table-striped">
        <tr>
            <th th:text="#{id}">Id</th>
            <th th:text="#{full_name}">Full name</th>
            <th th:text="#{first_name}">First name</th>
            <th th:text="#{last_name}">Last name</th>
            <th th:text="#{phone}">Phone</th>
            <th th:text="#{city}">City</th>
            <th th:text="#{street}">Street</th>
            <th th:text="#{building}">Building</th>
        </tr>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}" style="width: 150px">123</td>
            <td th:text="${owner.fullName}" style="width: 150px">Full Name</td>
            <td th:text="${owner.firstName}" style="width: 150px">First name</td>
            <td th:text="${owner.lastName}" style="width: 150px">Last name</td>
            <td th:text="${owner.contactDetails.phone}" style="width: 150px">+375-11-22-333</td>
            <td th:text="${owner.contactDetails.city}" style="width: 150px">Krakow</td>
            <td th:text="${owner.contactDetails.street}" style="width: 150px">Lenina</td>
            <td th:text="${owner.contactDetails.building}" style="width: 150px">1</td>
        </tr>
    </table>

</body>
</html>