<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Owners</h2>

<table id="vets" class="table table-striped">
    <thead>
        <tr>
            <th th:text="#{full_name}">Full name</th>
            <th th:text="#{first_name}">First name</th>
            <th th:text="#{last_name}">Last name</th>
            <th th:text="#{phone}">Phone</th>
            <th th:text="#{city}">City</th>
            <th th:text="#{street}">Street</th>
            <th th:text="#{building}">Building</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${selections}">
        <td>
            <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.fullName}">Full name</a>
        </td>
        <td th:text="${owner.firstName}" style="width: 150px">First name</td>
        <td th:text="${owner.lastName}" style="width: 150px">Last name</td>
        <td th:text="${owner.contactDetails.phone}" style="width: 150px">+375-11-22-333</td>
        <td th:text="${owner.contactDetails.city}" style="width: 150px">Krakow</td>
        <td th:text="${owner.contactDetails.street}" style="width: 150px">Lenina</td>
        <td th:text="${owner.contactDetails.building}" style="width: 150px">1</td>
    </tr>
    </tbody>
</table>

</body>
</html>