<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

    <h2 th:text="#{owner_details_header}">Owner Information</h2>

    <table class="table table-striped" th:object="${ownerDto}">
        <tr>
            <th th:text="#{full_name}">Name</th>
            <td><b th:text="*{fullName}"></b></td>
        </tr>
        <tr>
            <th th:text="#{city}">City</th>
            <td th:text="*{contactDetails.city}"></td>
        </tr>
        <tr>
            <th th:text="#{street}">Street</th>
            <td th:text="*{contactDetails.street}"></td>
        </tr>
        <tr>
            <th th:text="#{building}">Building</th>
            <td th:text="*{contactDetails.building}"></td>
        </tr>
        <tr>
            <th th:text="#{phone}">Phone</th>
            <td th:text="*{contactDetails.phone}"></td>
        </tr>
    </table>

    <a th:href="@{{id}/edit(id=${ownerDto.id})}" class="btn btn-default" th:text="#{edit_owner}">Edit</a>
    <a th:href="@{{id}/pets/new(id=${ownerDto.id})}" class="btn btn-default" th:text="#{add_new_pet}">Add</a>


    <br />
    <br />
    <br />
    <h2>Pets and Visits</h2>

    <table class="table table-striped">

        <tr th:each="pet : ${ownerDto.pets}">
            <td valign="top">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd th:text="${pet.name}" /></dd>
                    <dt>Birth Date</dt>
                    <dd
                            th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}" /></dd>
                    <dt>Type</dt>
                    <dd th:text="${pet.petType}" /></dd>
                </dl>
            </td>
            <td valign="top">
                <table class="table-condensed">
                    <thead>
                    <tr>
                        <th>Visit Date</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tr th:each="visit : ${pet.visits}">
                        <td th:text="${#temporals.format(visit.time, 'yyyy-MM-dd')}"></td>
                        <td th:text="${visit?.description}"></td>
                    </tr>
                    <tr>
                        <td><a th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${ownerDto.id},petId=${pet.id})}">Edit Pet</a></td>
                        <td><a th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${ownerDto.id},petId=${pet.id})}">Add Visit</a></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</body>
</html>