<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2 th:text="#{welcome}">Welcome</h2>

    <div class="row" sec:authorize="isAuthenticated()">
        <div class="col-md-12">
            <p th:text="'Welcome: ' + ${#authentication?.principal?.username}">User</p>
            <p><a th:href="@{/logout}">Logout</a></p>
        </div>
    </div>
    <div class="row" sec:authorize="!isAuthenticated()">
        <div class="col-md-12">

            <div th:if="${param.error}" class="alert alert-danger">Invalid Username or Password</div>
            <div th:if="${param.logout}" class="alert alert-success">You Have Logged Out</div>
            <form th:action="@{/login}" method="post">
                <label for="usr">Username:</label>
                <input type="text" id="usr" name="usr" autofocus="true" autocomplete="off">

                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd" autofocus="true" autocomplete="off">

                <label for="remember-me">Remember Me:</label>
                <input type="checkbox" id="remember-me" name="remember-me" checked />

                <input type="submit" value="Log In">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

</body>
</html>